/*This section contains CSS for all html files*/

.navlinks a {
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 1px solid #777777;
}


.navlinks {
    position: absolute;
    bottom: 30px;
    right: 10px;

}

a:hover {
    background-color: teal;
    color: white;
}

html {
     background-image: url("../images/stardust.png")
 }

img {
     float: left;
     margin: 20px;
 }

header {
    background-color: #ffffff;
    padding: 0px;
    position: relative;
    border: 10px;
    border-color: #cccccc;

 }

h1 {
    background-color: teal;
    height: 40px;
    width: 260px;
    padding: 40px;
    margin: 0px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 19.4%;
    font-size: 25px;
    
}

html, body {
    height: 100%;
    margin: 0;
}

.content {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
}

.footer,
.push {
    height: 50px;
}
* {
    box-sizing: border-box;
}

body {
    font: 16px Sans-Serif;
  }

h3 {
    margin: 0 0 20px 0;
  }

p2 {
    margin: 20px 0 0 0;
  }

footer {
    background: #777777;
    color: white;
    line-height: 50px;
    padding: 0 20px;
    position: fixed;
    bottom: 0%;
    border-top: 5px solid teal;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

/*This section contains CSS for index.html*/

 #aboutme {
     background-color: #ffffff;
     height: 500px;
     width: 960px;
     align-content: center;
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
     border: 10px;
     border-color: #dddddd;
 }

 h2 {
     padding: 20px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     border-bottom: 3px solid #777777;
     margin: 20px;
     text-align: left;
     color: teal;
 }

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: 20px;
    margin-top: 40px;
    line-height: 30px;
}


/*This section contains CSS for portfolio.html*/

#inline-block {
    display: inline-block;
    align-content: center;
}

 #inline-block2 {
    display: inline-block;
    align-content: center;
 }

.img1 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position:relative;
}

.img1:hover {
    -webkit-filter: grayscale(100%);
}

.text-block1 {
    position: absolute;
    background-color: teal;
    color: white;
    height: 70px;
    width: 320px;
    top: 180px;
    right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;

}

.img2 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.img2:hover {
    -webkit-filter: grayscale(100%);
}

 #content {
    background-color: #ffffff;
    height: 120%;
    width: 960px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 10px;
    border-color: #dddddd;
 }

 .img3 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.img3:hover {
    -webkit-filter: grayscale(100%);
}

.img4 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.img4:hover {
    -webkit-filter: grayscale(100%);
}


/*This section contains CSS for contact.html*/
#contact {
    background-color: #ffffff;
    height: 80%;
    width: 960px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 10px;
    border-color: #dddddd;
 }