.inline-block {
    display: inline-block;
 }

 .inline-block2 {
    display: inline-block;
 }

 html {
     background-image: url("../images/stardust.png")
 }

 #aboutme {
     background-color: #ffffff;
     height: 500px;
     width: 75%;
     align-content: center;
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
     border: 10px;
     border-color: #dddddd;
 }

 img {
     float: left;
     margin-right: 20px;
     margin-left: 20px;
 }

 h2 {
     padding: 20px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     border-bottom: 5px solid #777777;
     margin: 20px;
     text-align: left;
 }
 
 .topnav {
    background-color: #ffffff;
    padding: 0px;
    position: relative;
    border: 10px;
    border-color: #cccccc;

 }

 h1 {
    background-color: teal;
    height: 40px;
    width: 250px;
    padding: 20px;
    margin: 0;
    color: white;
    margin-left: 180px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.navlinks a {
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 1px solid #777777;
}


.navlinks {
    position: absolute;
    bottom: 30px;
    right: 10px;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}