.inline-block {
    display: inline-block;
 }

 .inline-block2 {
    display: inline-block;
 }

 #aboutme {
     background-color: white;
     height: 500px;
     width: 75%;
     align-content: center;
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
 }
 
 body {
     background-color: whitesmoke;
 }

 img {
     float: left;
     margin-right: 20px;
     margin-left: 20px;
 }
 
 #heading {
    background-color: white;
    padding: 0px;
 }

 h1 {
    background-color: teal;
    height: 40px;
    width: 200px;
    padding: 20px;
    margin: 0;
    color: white;
    margin-left: 190px;
}
